html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar
{
  /* 1. CSS Styles*/
  background-color: black;
  width: 5px;
}
::-webkit-scrollbar-thumb
{
  /* 1. CSS Styles*/
  background-color: white;
  border-radius: 10%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}

.add svg:hover{
  fill: blue;
}

* {
  box-sizing: border-box;
}
.bg-black{
  background-color: black;
}
.vh-90{
  height: 90vh;
}
.h-85{
  height: 85%;
}
.vh-80{
  height: 80vh;
}
.h-49{
  height: 49%;
}
.h-2{
  height: 2%;
}
.vw-10{
  width: 10vw;
}
.vw-20{
  width: 20vw;
}
.vw-30{
  width: 30vw;
}
.vw-40{
  width: 40vw;
}
.vw-50{
  width: 50vw;
}
.vw-80{
  width: 80vw;
}
.pt-120{
  padding-top: 120px;
}
.pt-145{
  padding-top: 145px;
}
.pb-45{
  padding-bottom: 45px;
}
.pt-150{
  padding-top: 150px;
}
.list{
  width: 10vw;
}

.hart:hover{
  color: rgb(255,0,0);
}

.del-btn:hover{
  color: rgb(255,0,0);
}

@media screen and (max-width: 992px) {
  .list{
    width: 100vw;
  }
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}