.content{
    position: absolute;
    top: 0;
    background-color: #212529;
    z-index: -1;
    width: 100%;
    color: white;
}

@media screen and (min-width: 992px) {
    .content{
        height: 100vh;
        overflow: hidden;
    }
}